{% extends 'layouts/login.html' %} 
{% block content%}
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-6 col-lg-8 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1>Recuperación de contraseña enviada</h1> 
   <h5>Hemos enviado un correo electrónico con las instrucciones para recuperar tu contraseña, si existe una cuenta con el nombre que ingresaste. Deberías recibirlo pronto en tu bandeja.</h5><br>
   <h6 style="width: 60%; margin: 0 auto">Si no recibes el correo electrónico, por favor asegurate de haber ingresado la el nombre que ingresaste para el registro, y revisa tu bandeja de spam.</h6>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a href="{% url 'inicio' %}">Regresar a Página de Inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock%}