{% extends 'layout.html' %}

{% block title %}
Contacto
{% endblock %}


{% block content %}
    {% if nombre_contacto != 'No Asignado' %}
        <h2>Hola {{ nombre_contacto }}</h2>
    {% else %}
        <h2>No se proporciono el nombre</h2>
    {% endif %}
    <h4>Nuestro personal se pondrá en contacto contigo</h4>
    {% if edad >= 18 %}
            <h5>Eres mayor de edad</h5>
    {% else %}
            <h5>Eres menor de edad</h5>
    {% endif %}
    <hr>
    <h4>Lenguajes de Programación</h4>
    <ul>
    {% for lenguaje in lenguajes %}
    <li>{{ forloop.counter }}. {{ lenguaje }}</li>
    {% empty %}
    <p>NO HAY LENGUAJES</p>
    {% endfor %}
    </ul>
{% endblock %}
